<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome !!
  </h1>
  <a [routerLink]="['sales']">Sales</a>
  <a [routerLink]="['support']">Support</a>
  <router-outlet></router-outlet>
</div>